.full-page-vertical-slider {
  height: 100vh;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-content {
  max-width: 1200px;
  text-align: center;
  color: #fff;
  padding: 20px;

  border-radius: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-box input,
.search-box select {
  padding: 11px;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  margin: 0px 0px;
}

.search-box input {
  flex-grow: 1;
  max-width: 461px;
  height: 45px;
}

.search-box select {
  padding: 11px 10px 10px 47px !important;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  margin: 0px 0px;
}

.search-box input {
  flex-grow: 1;
  max-width: 461px;
  height: 44px;
  margin-left: -25px;
}

button.serch-btn-home {
  background-color: #c08735;
  height: 44px;
  border: none;
  width: 16%;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Nexa-Medium";
  font-size: 14.229px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

@media (min-width: 960px) {
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: row-reverse;
  }

  .carousel .control-dots {
    bottom: 254px !important;
    position: absolute;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    left: 43%;
    rotate: 90deg !important;
  }

  .search-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: row-reverse;
    gap: 0px !important;
    width: 913px;
  }
}
img.city-map-icon {
  height: 24px !important;
  float: right;
  position: relative;
  left: -153px;
  top: 10px;
  width: 24px !important;
}

.full-page-vertical-slider-container {
  height: auto; /* Set the container height to auto */
  overflow: auto; /* Enable vertical scrolling for the page content */
}

.full-page-vertical-slider {
  height: 100vh; /* Set the carousel height to full viewport height */
  width: 100%; /* Set the carousel width to 100% */
}

@media (max-width: 768px) {
  .search-box select {
    background-color: #fff !important;
    border: none;
    border-radius: 0;
    font-family: Nexa-Medium;
    font-size: 16px;
    height: 50px !important;
    margin: 0;
    padding: 12px 10px 10px !important;
    width: 138px !important;
  }
  button.serch-btn-home {
    background-color: #cd842f;
    height: 50px;
    border: none;
    width: auto !important;
    color: var(--white, #fff);
    text-align: center;

    font-size: 14.229px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 22px !important;
    text-transform: capitalize;
  }

  img.city-map-icon {
    display: none;
  }

  .search-box input {
    flex-grow: 1;
    max-width: 461px;
    height: 50px;
    margin-left: 0px !important;
  }

  .full-page-vertical-slider {
    height: 80vh; /* Reset the carousel height to auto on mobile devices */
    width: 100vw; /* Set the carousel width to 100vw (100% of viewport width) on mobile devices */
    z-index: 77;
  }
  body {
    overflow-y: scroll !important;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: row-reverse !important;
}

.carousel .slider {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel .slider.animating {
  opacity: 0 !important;
  animation: fadeInAnimation 0.5s ease-in-out forwards !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .full-screen-slider {
  width: 100vw;
  height: 100vh;
  /* position: relative; *
}

.flickity-slider {
  height: 100%;
}

.full-screen-slider {
  width: 100vw;
  height: 100vh;
 position: relative; 
}

.flickity-slider {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
   position: relative; 
}

.slide-content {
  text-align: center;
  color: white;
}

.slides-contents {
  max-width: 600px;
} */

.carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  display: none;
}
/* Hide the carousel arrows */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
.expert-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

/* new css start here  */
/* FullpageVerticalSlider.css */

.ePzppS {
  position: relative;
  height: 58px;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0px;
  padding: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 910px;
  margin: auto;
}

.ePzppS {
  position: relative;
  height: 55px !important;
}

button.serch-btn-home {
  background-color: #cd842f;
  height: 55px !important;
  border: none;
  width: 50% !important;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Nexa-Bold", sans-serif;
  font-size: 14.229px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.search-box input {
  flex-grow: 1;
  max-width: 461px;
  height: 53px !important;
  margin-left: 0px !important;
  padding: 0px !important;
}

.city-map-icon {
  margin-right: 10px;
}

/* #citySelect {
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 0;
  margin-right: 20px;
  color: #333;
  cursor: pointer;
} */

#citySelect option {
  color: #333;
  background-color: white;
}

#citySelect:focus {
  outline: none;
}

.search-box form {
  display: flex;
  flex: 1;
  align-items: center;
}

.ReactSearchAutocomplete {
  width: 100%;
}

.search-box input {
  border: none;
  padding: 10px;
  font-size: 16px;
  flex: 1;
}

.search-box input:focus {
  outline: none;
}

.search-box input {
  flex-grow: 1;
  max-width: 461px;
  height: 53px !important;
  margin-left: -25px;
}

.serch-btn-home {
  background-color: #d99e61;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 0px 0px 0;
  font-size: 16px;
}

.serch-btn-home:hover {
  background-color: #b57c3a;
}

.web-search {
  display: inline;
}

.search-icon-mobile {
  display: none;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .home-search-box {
    width: 100% !important;
    height: auto !important;
  }

  button.serch-btn-home {
    background-color: #cd842f;
    height: 55px !important;
    border: none;
    width: 26% !important;
    color: var(--white, #fff);
    text-align: center;
    font-family: "Nexa-Bold", sans-serif;
    font-size: 14.229px;
    font-style: normal;
    border-radius: 0px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 12rem;
    margin-top: 0rem;
    position: relative;
    z-index: 99;
  }

  .imIGHW {
    min-height: 44px;
    width: 81%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .ePzppS {
    display: flex;
    position: relative;
    height: 46px;
    width: 311px !important;
    height: auto !important;
    flex-direction: column;
  }

  .city-map-icon {
    margin: 0;
  }

  #citySelect {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #dfe1e5;
  }

  .search-box form {
    width: 100%;
    flex-direction: column;
  }

  .ReactSearchAutocomplete {
    width: 100%;
  }

  .serch-btn-home {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }

  .web-search {
    display: none;
  }

  .search-icon-mobile {
    display: inline;
  }
}

.ePzppS .wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0px solid rgb(223, 225, 229);
  border-radius: 0px !important;
  background-color: white;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-family: Arial;
  z-index: 3;
}
